@use "../../pages/navbar/navbar";

.page-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    margin-bottom: 8px;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
        font-family: navbar.$font-stack;
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }

    .add-buttons {
        display: flex;
        gap: 12px;

        .add-export {
            background-color: #dfb030fa !important;
            color: white !important;
        }

        .add-domestic {
            background-color: #1c60a3f0 !important;
            color: white !important;
        }
    }
}

.actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 16px;

    .search-field {
        width: 100%;
        max-width: 400px;
        font-size: 14px;
    }

    .filter-btn {
        height: 56px;
        margin-bottom: 22px; // Align with input
    }
}