@use "../../pages/navbar/navbar";

.page-container {
    padding-top: 44px;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}