.page-container {
    padding-top: 44px;
    max-width: 1400px;
    margin: 0 auto;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.form-row {
    display: flex;
    gap: 16px;

    mat-form-field {
        flex: 1;
    }
}