<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="nav-header" (click)="toggleMenu()">
    <mat-icon class="header-icon">local_shipping</mat-icon>
    <span class="header-title">Transport Management</span>
    <mat-icon class="arrow-icon" [class.collapsed]="!isExpanded()">arrow_drop_down</mat-icon>
</div>

@if (isExpanded()) {
<mat-nav-list>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon class="c-dashboard">analytics</mat-icon>
        <span matListItemTitle>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/booking" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon class="c-booking">add_circle</mat-icon>
        <span matListItemTitle>Booking</span>
    </a>
    <a mat-list-item routerLink="/job-queue" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon class="c-queue">assignment</mat-icon>
        <span matListItemTitle>Job Queue</span>
    </a>
    <a mat-list-item routerLink="/dispatch-center" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon class="c-dispatch">hub</mat-icon>
        <span matListItemTitle>Dispatch center</span>
    </a>
    <a mat-list-item routerLink="/job-tracking" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon class="c-tracking">room</mat-icon>
        <span matListItemTitle>Job Tracking</span>
    </a>
    <a mat-list-item routerLink="/return-container" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon class="c-return">local_shipping</mat-icon>
        <span matListItemTitle>Return Container</span>
    </a>

    <div class="nav-item-wrapper">
        <a mat-list-item (click)="toggleSetting()" class="setting-item">
            <mat-icon matListItemIcon class="c-setting">settings</mat-icon>
            <span matListItemTitle>Setting</span>
            <mat-icon class="setting-arrow-icon" [class.collapsed]="!isSettingExpanded()">arrow_drop_down</mat-icon>
        </a>

        @if (isSettingExpanded()) {
        <div class="submenu">
            <a mat-list-item routerLink="/setting/car" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ทะเบียนรถ</span>
            </a>
            <a mat-list-item routerLink="/setting/clear-tank" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ทะเบียนหางพ่วง</span>
            </a>
            <a mat-list-item routerLink="/setting/cost-type" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ประเภทรถ</span>
            </a>
            <a mat-list-item routerLink="/setting/cost-per-trip" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ประเภทเชื้อเพลิง</span>
            </a>
            <a mat-list-item routerLink="/setting/discount" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>สถานะรถ-หางพ่วง</span>
            </a>
            <a mat-list-item routerLink="/setting/fuel-in-tank" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ยี่ห้อรถ</span>
            </a>
            <a mat-list-item routerLink="/setting/cost-approval" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>พนักงานคนขับ</span>
            </a>
            <a mat-list-item routerLink="/setting/approve-cost" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>บริษัทรถร่วม</span>
            </a>
            <a mat-list-item routerLink="/setting/unapproved-cost" routerLinkActive="active"
                class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>บริษัทประกันรถ</span>
            </a>
            <a mat-list-item routerLink="/setting/unapproved-cost-detail" routerLinkActive="active"
                class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>หน่วยวัด</span>
            </a>
            <a mat-list-item routerLink="/setting/unapproved-cost-info" routerLinkActive="active"
                class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ลานตู้คอนเทนเนอร์</span>
            </a>
            <a mat-list-item routerLink="/setting/driver-info" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ประเภทตู้คอนเทนเนอร์</span>
            </a>
            <a mat-list-item routerLink="/setting/driver-detail" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ประเภทสินค้าที่ขน</span>
            </a>
            <a mat-list-item routerLink="/setting/co-loader" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ลักษณะงาน</span>
            </a>
            <a mat-list-item routerLink="/setting/port" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>สายเรือ (Co-loader)</span>
            </a>
            <a mat-list-item routerLink="/setting/depot" routerLinkActive="active" class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>ท่าเรือ (Port)</span>
            </a>
            <a mat-list-item routerLink="/setting/fix-costs-type" routerLinkActive="active"
                class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>จังหวัด</span>
            </a>
            <a mat-list-item routerLink="/setting/fix-costs-type" routerLinkActive="active"
                class="nav-item nav-subitem">
                <mat-icon matListItemIcon class="c-submenu">settings</mat-icon>
                <span matListItemTitle>Fix Costs Type</span>
            </a>
        </div>
        }
    </div>
</mat-nav-list>}